*{
    margin: 0;
}

body{
    h1, h2{
        font-family: "Fraunces", serif;
    }
}
header{
    display: flex;
    flex-direction: column;
    background-image: url("./images/mobile/image-header.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 533px;
    align-items: center;
    #logo{
        width: 120px;
        height: 22px;
        align-self: flex-end;
    }

    #desktopNavigationMenu{
        display: none;
    }

    #menu{
        width: 24px;
        height: 18px;
        align-self: center;
    }
    .menu{
        width: 325px;
        height: 25px;
        padding: 30px 25px;
        display: flex;
        justify-content: space-between;
        margin-bottom: 60px;

        .hide{
            display: none;
        }
        
        nav{
            display: flex;
            flex-direction: column;
            width: 325px;
            background-color: hsl(0, 100%, 100%);
            position: absolute;
            top: 106px;
            align-items: center;
            padding: 42px 0 40px 0;
            gap: 32px;
            a{
                text-decoration: none;
                font-family: "Barlow", sans-serif;
                font-weight: 600;
                font-size: 18px;
                color: hsl(232, 10%, 55%);
                margin-bottom: 2px;
            }
            a:last-child{
                margin-top: 0px;
                margin-bottom: 0;
                font-size: 15px;
                background-color: hsl(51, 100%, 49%);
                padding: 18px 32px; 
                border-radius: 50px;
                text-transform: uppercase;
                font-family: "Fraunces", serif;
                font-weight: 700;
                color: hsl(212, 27%, 19%);
            }

        }
        nav:after{
            content: " ";
            position: absolute;
            right: 0px;
            top: -25px;
            border-top: none;
            border-right: 0px solid transparent;
            border-left: 25px solid transparent;
            border-bottom: 25px solid hsl(0, 100%, 100%);
            }
        }

    h1{
        color: hsl(0, 100%, 100%);
        font-size: 38px;
        font-weight: 900;
        text-align: center;
        letter-spacing: 8px;
        line-height: 48px;
        margin-bottom: 48px;
    }

}

#transformMobile, #standoutMobile{
    width: 100vw;
    height: 308px;
}

#transformDesktop, #standoutDesktop{
    display: none;
}

.text{
    display: flex;
    flex-direction: column;
    padding: 60px 25px;
    align-items: center;
    text-align: center;
    gap: 22px;
    h1{
        font-weight: 900;
        color: hsl(212, 27%, 19%);
    }
    p{
        font-family: "Barlow", sans-serif;
        font-size: 18px;
        font-weight: 600;
        color: hsl(232, 10%, 55%);
        line-height: 30px;    
        margin-bottom: 24px;    
    }
    div{
        font-size: 18px;
        background: transparent;
        border-radius: 8px;
        height: 8px;
        width: 122px;
        display: flex;
        justify-content: center;
        margin-bottom: 5px;
        a{
            font-size: 15px;
            font-weight: 900;
            text-decoration: none;
            color: hsl(212, 27%, 19%);
            font-family: "Fraunces", serif;
            transform: translate(0, -12px);
            
        }
    }
    #yellowUnderline{
        box-shadow: inset 0 1em 0 0 hsl(51, 100%, 49%, 0.3);
    }

    #yellowUnderline:hover{
        cursor: pointer;
        box-shadow: inset 0 1em 0 0 hsl(51, 100%, 49%, 1);
    }

    #redUnderline{
        box-shadow: inset 0 1em 0 0  hsl(7, 99%, 70%, 0.3);
    }
    
    #redUnderline:hover{
        cursor: pointer;
        box-shadow: inset 0 1em 0 0  hsl(7, 99%, 70%, 1);
    }

}

.graphicDesign{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: flex-end;
    padding: 50px 20px;
    background-image: url("./images/mobile/image-graphic-design.jpg");
    background-size: cover;
    height: 500px;
    color: hsl(167, 40%, 24%);
    filter: sepia(25%) brightness(90%) saturate(150%) grayscale(10%);
    /* background-color: hsl(167, 34%, 41%); */
    /* background-color: hsl(167, 40%, 24%); */
    /* background-blend-mode: hard-light; */
    
        
    h1{
        font-weight: 900;
        margin-bottom: 27px;
        font-size: 28px;
    }
    p{
        font-family: "Barlow", sans-serif;
        font-size: 16px;
        font-weight: 600;
        line-height: 27px;
        margin-bottom: 9px;
    }
}

.photography{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: flex-end;
    padding: 50px 20px;
    background-image: url("./images/mobile/image-photography.jpg");
    background-size: cover;
    height: 500px;
    color: hsl(198, 62%, 26%);
    filter: sepia(25%) brightness(90%) saturate(150%) grayscale(10%);
    /* background-color: hsl(167, 34%, 41%); */
    /* background-color: hsl(167, 40%, 24%); */
    /* background-blend-mode: hard-light; */
    
        
    h1{
        font-weight: 900;
        margin-bottom: 31px;
        font-size: 28px;
    }
    p{
        font-family: "Barlow", sans-serif;
        font-size: 16px;
        font-weight: 600;
        line-height: 26px;
        margin-bottom: 10px;
    }
}

#testimonials{
    display: flex;
    flex-direction: column;
    width: 100vw;
    align-items: center;
    h1{
        text-transform: uppercase;
        font-size: 16px;
        letter-spacing: 4px;
        color: hsl(210, 4%, 67%);
        margin-top: 64px;
        margin-bottom: 62px;
    }
}

.testimonials{
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    padding: 0px 22px 20px 22px;
    
    figure{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 28px;
        img{
            width: 72px;
            height: 72px;
            border-radius: 50%;
            margin-bottom: 32px;
        }
        p{
            text-align: center;
            font-family: "Barlow", sans-serif;
            font-size: 18px;
            font-weight: 600;
            color: hsl(213, 9%, 39%);
            line-height: 32px;
            margin-bottom: 31px;
        }
        h2{
            font-size: 18px;
            font-weight: 900;
            margin-bottom: 5px;
            color: hsl(212, 27%, 19%);
        }
        .clientRole{
            font-size: 14px;
            color: hsl(210, 4%, 67%);
        }
    }
}

.mosaicMobile{
    margin-top: 2px;
    display: grid;
    grid-template-columns: 50vw 50vw;
    img{
        width: 50vw;
        height: 187px;
    }
}

.mosaicDesktop{
    display: none;
}

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 65px 0px;
    background-color: hsl(167, 44%, 70%);
}

#footerLogo{
    filter: invert(51%) sepia(12%) saturate(1306%) hue-rotate(112deg) brightness(92%) contrast(95%);   
    width: 170px;
}

.footerLinks{
    display: flex;
    width: 95vw;
    padding: 42px 0px;
    justify-content: space-around;
    margin-bottom: 40px;
    a{
        text-decoration: none;
        font-family: "Barlow", sans-serif;
        font-weight: 600;
        font-size: 18px;
        color: hsl(167, 34%, 41%);
    }
    a:hover{
        cursor: pointer;
        color: hsl(0, 100%, 100%);
    }
}

.socialMedia{
    display: flex;
    gap: 25px;
    margin-top: 6px;
    margin-bottom: 10px;
    a:hover{
        img{
            filter: invert(100%) sepia(100%) brightness(100%) contrast(500%);
        }
    }
}

.attribution { 
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 11px;
    text-align: center;
    a { 
        color: hsl(228, 45%, 44%);
    }
}


@media (min-width: 451px){
    header{
        height: 600px;
        background-image: url("./images/mobile/image-header.jpg");
        background-size: cover;
        background-position: center;

        #logo{
            width: 170px;
            height: 32px;
        }
        .menu{
            width: 90vw;
            padding: 40px 20px;
            height: 35px;

            nav{
                justify-self: flex-end;
                width: 80vw;
                margin-left: 10vw;
            }
        }

        #menu{
            width: 28px;
            height: 20px;
            align-self: center;
        }

        #desktopNavigationMenu{
            display: none;
        }

        h1{
            margin-top: 15px;
            font-size: 40px;
            margin-bottom: 85px;
        }
    }
}

@media (min-width: 501px){

    header{       
        h1{
            padding: 0 60px;
        }
        .menu{
            width: 90vw;
            padding: 40px 20px;
            height: 35px;

            nav{
                justify-self: flex-end;
                width: 70vw;
                margin-left: 20vw;
            }
        }
    }

    #transformMobile, #standoutMobile{
        height: 380px;
    }

    .text{
        padding: 70px 60px;
    }

    .graphicDesign{
        background-image: url("./images/desktop/image-graphic-design.jpg");
        background-position: center;
        padding: 50px 80px;
    }

    .photography{
        background-image: url("./images/desktop/image-photography.jpg");
        background-position: center;
        padding: 50px 80px;
    }

    .testimonials{
        p{
            padding: 0px 70px;
        }
    }

    .mosaicMobile{
        img{
            height: 250px;
        }
    }
}

@media (min-width: 601px){
    .footerLinks{
        width: 60vw;
    }
}

@media (min-width: 768px){
    header{
        height: 650px;
        background-image: url("./images/desktop/image-header.jpg");

        .menu{
            width: 90vw;
            padding: 40px 20px;
        }

        #menu{
            display: none;
        }

        #desktopNavigationMenu{
            display: flex;
            align-items: center;
            gap: 5px;
            a{
                text-decoration: none;
                font-size: 16px;
                font-family: "Barlow", sans-serif;
                font-weight: 500;
                color: hsl(0, 100%, 100%);
                padding: 10px 16px;
                border-radius: 50px;
            }
            a:last-child{
                text-transform: uppercase;
                font-family: "Fraunces", serif;
                font-size: 14px;
                font-weight: 700;
                padding: 18px 30px;
                color: hsl(212, 27%, 19%);
                background-color: hsl(0, 100%, 100%);
            }
            a:hover{
                color: hsl(212, 27%, 19%);
                background-color: hsl(0, 100%, 100%);
            }
            a:last-child:hover{
                color: hsl(0, 100%, 100%);
                background-color: hsl(0, 100%, 100%, 0.2);
            }
        }
        h1{
            margin-top: 5px;
            font-size: 50px;
            margin-bottom: 45px;
        }
    }

    main{
        display: grid;
        grid-template-columns: 50vw 50vw;
        grid-template-rows: 340px 340px 600px 550px 350px 350px 310px 50px;
        row-gap: 0px;

        #transformMobile, #standoutMobile{
            display: none;
        }

        #transformDesktop, #standoutDesktop{
            display: initial;
            width: 50vw;
            height: 340px;
        }

        .text{
            display: flex;
            flex-direction: column;
            padding: 22px 40px;
            align-self: center;
            text-align: center;
            gap: 18px;
            h1{
                font-size: 30px;
                font-weight: 900;
                margin-top: 0px;
                margin-bottom: 10px;
            }
            p{
                line-height: 30px;    
                margin-bottom: 16px;    
            }
            div{
                border-radius: 10px;
                height: 10px;
                width: 122px;
                display: flex;
                margin-bottom: 0px;
                align-self: flex-start;
                justify-self: flex-start;
            }
        }
        .graphicDesign{
            background-image: url("./images/desktop/image-graphic-design.jpg");
            padding: 50px 25px;
            p{
                padding: 0 15px;
            }
        }
        .photography{
            background-image: url("./images/desktop/image-photography.jpg");         
            padding: 25px 25px 75px 25px;
            p{
                padding: 0 15px;
            }
        }

        #testimonials{
            grid-row: 4;
            
            justify-content: center;
            align-content: center;
            h1{
                padding-bottom: 20px;
                font-size: 20px;
                font-weight: 900;
                margin-top: 30px;               
                margin-bottom: 40px;
            }
        }

        .testimonials{
            padding: 0px 0px 0px 0px;
            gap: 18px;
            flex-direction: row;
            align-items: flex-start;
            figure{
                width: 240px;
                margin-bottom: 0px;
                img{
                    margin-bottom: 58px;
                }
                p{
                    padding: 0;
                    font-size: 16px;
                    line-height: 32px;
                    margin-bottom: 30px;
                }
                h2{
                    font-size: 18px;
                    margin-bottom: 3px;
                }
            }
        }

        .mosaicMobile{
            display: none;
        }

        .mosaicDesktop{
            grid-row-start: 5;
            grid-row-end: 6;
            display: grid;
            grid-template-columns: 50vw 50vw;
            grid-template-rows: auto auto;
            width: 100vw;
            img{
                width: 50vw;
                height: 350px;
            }
        }

        footer{
            grid-row: 7;
            width: 100vw;
            .footerLinks{
                width: 350px;
            }
        }
        
        .attribution{
            width: 100vw;
            grid-row: 8;
        }
    }
}

@media (min-width: 1025px){
    header{
        height: 700px;
        background-image: url("./images/desktop/image-header.jpg");

        #logo{
            width: 170px;
            height: 32px;
        }
        .menu{
            width: 92vw;
            padding: 40px 20px;
        }

        #menu{
            display: none;
        }

        #desktopNavigationMenu{
            display: flex;
            align-items: center;
            gap: 25px;
            a{
                text-decoration: none;
                font-size: 18px;
                font-family: "Barlow", sans-serif;
                font-weight: 500;
                color: hsl(0, 100%, 100%);
                padding: 10px 16px;
                border-radius: 50px;
            }
            a:last-child{
                text-transform: uppercase;
                font-family: "Fraunces", serif;
                font-size: 15px;
                font-weight: 700;
                padding: 18px 30px;
                color: hsl(212, 27%, 19%);
                background-color: hsl(0, 100%, 100%);
            }
            a:hover{
                color: hsl(212, 27%, 19%);
                background-color: hsl(0, 100%, 100%);
            }
            a:last-child:hover{
                color: hsl(0, 100%, 100%);
                background-color: hsl(0, 100%, 100%, 0.2);
            }
        }
        h1{
            margin-top: 35px;
            font-size: 50px;
            margin-bottom: 105px;
        }
    }
    main{
        display: grid;
        grid-template-columns: 50vw 50vw;
        grid-template-rows: 450px 450px 600px 600px 350px 350px 50px;
        row-gap: 0px;

        #transformMobile, #standoutMobile{
            display: none;
        }

        #transformDesktop, #standoutDesktop{
            display: initial;
            width: 50vw;
            height: 450px;
        }

        .text{
            display: flex;
            flex-direction: column;
            padding: 0px 30px;
            align-self: center;
            text-align: left;
            gap: 18px;
            h1{
                font-size: 40px;
                font-weight: 900;
                margin-top: 0px;
                margin-bottom: 16px;
            }
            p{
                line-height: 30px;    
                margin-bottom: 36px;    
            }
            div{
                border-radius: 10px;
                height: 10px;
                width: 122px;
                display: flex;
                margin-bottom: 0px;
                align-self: flex-start;
                justify-self: flex-start;
            }
        }
        .graphicDesign{
            background-image: url("./images/desktop/image-graphic-design.jpg");
            p{
                padding: 0 25px;
            }
        }
        .photography{
            background-image: url("./images/desktop/image-photography.jpg");         
            p{
                padding: 0 25px;
            }
        }

        #testimonials{
            justify-content: center;
            align-content: center;
            h1{
                padding-bottom: 20px;
                font-size: 20px;
                font-weight: 900;
                margin-top: 68px;               
                margin-bottom: 62px;
            }
        }

        .testimonials{
            padding: 0px 0px 0px 0px;
            gap: 25px;
            flex-direction: row;
            figure{
                width: 30vw;
                margin-bottom: 0px;
                img{
                    margin-bottom: 58px;
                }
                p{
                    line-height: 32px;
                    margin-bottom: 70px;
                }
                h2{
                font-size: 18px;
                    margin-bottom: 3px;
                }
            }
        }

        .mosaicMobile{
            display: none;
        }

        .mosaicDesktop{
            grid-row: 5;
            display: flex;
            width: 100vw;
            img{
                width: 25vw;
            }
        }

        footer{
            grid-row: 6;
            width: 100vw;
            .footerLinks{
                width: 350px;
            }
        }
        
        .attribution{
            width: 100vw;
            grid-row: 7;
        }
    }
}

@media (min-width: 1440px){
    header{
        height: 800px;
        background-image: url("./images/desktop/image-header.jpg");

        #logo{
            width: 170px;
            height: 32px;
        }
        .menu{
            width: 1340px;
            padding: 40px 20px;
        }

        #menu{
            display: none;
        }

        #desktopNavigationMenu{
            display: flex;
            align-items: center;
            gap: 25px;
            a{
                text-decoration: none;
                font-size: 18px;
                font-family: "Barlow", sans-serif;
                font-weight: 500;
                color: hsl(0, 100%, 100%);
                padding: 10px 16px;
                border-radius: 50px;
            }
            a:last-child{
                text-transform: uppercase;
                font-family: "Fraunces", serif;
                font-size: 15px;
                font-weight: 700;
                padding: 18px 30px;
                color: hsl(212, 27%, 19%);
                background-color: hsl(0, 100%, 100%);
            }
            a:hover{
                color: hsl(212, 27%, 19%);
                background-color: hsl(0, 100%, 100%);
            }
            a:last-child:hover{
                color: hsl(0, 100%, 100%);
                background-color: hsl(0, 100%, 100%, 0.2);
            }
        }
        h1{
            margin-top: 35px;
            font-size: 50px;
            margin-bottom: 105px;
        }
    }
    main{
        display: grid;
        grid-template-columns: 50vw 50vw;
        grid-template-rows: 600px 600px 600px 776px 446px 350px 50px;
        row-gap: 0px;

        #transformMobile, #standoutMobile{
            display: none;
        }

        #transformDesktop, #standoutDesktop{
            display: initial;
            width: 50vw;
            height: 600px;
        }

        .text{
            display: flex;
            flex-direction: column;
            padding: 0px 135px;
            align-self: center;
            text-align: left;
            gap: 18px;
            h1{
                font-size: 40px;
                font-weight: 900;
                margin-top: 0px;
                margin-bottom: 16px;
            }
            p{
                line-height: 30px;    
                margin-bottom: 36px;    
            }
            div{
                border-radius: 10px;
                height: 10px;
                width: 122px;
                display: flex;
                margin-bottom: 0px;
                align-self: flex-start;
                justify-self: flex-start;
            }
        }
        .graphicDesign{
            background-image: url("./images/desktop/image-graphic-design.jpg");
            p{
                padding: 0 165px;
            }
        }
        .photography{
            background-image: url("./images/desktop/image-photography.jpg");
            padding: 50px 25px;
            p{
                padding: 0 165px;
            }
        }

        #testimonials{
            justify-content: center;
            align-content: center;
            h1{
                padding-bottom: 20px;
                font-size: 20px;
                font-weight: 900;
                margin-top: 74px;               
                margin-bottom: 60px;
            }
        }

        .testimonials{
            padding: 0px 0px 0px 0px;
            gap: 36px;
            flex-direction: row;
            figure{
                width: 350px;
                margin-bottom: 0px;
                img{
                    margin-bottom: 58px;
                }
                p{
                    line-height: 32px;
                    margin-bottom: 70px;
                    font-size: 18px;
                }
                h2{
                    font-size: 18px;
                    margin-bottom: 3px;
                }
            }
        }

        .mosaicMobile{
            display: none;
        }

        .mosaicDesktop{
            grid-row: 5;
            display: flex;
            width: 100vw;
            img{
                width: 25vw;
                height: 446px;
            }
        }

        footer{
            grid-row: 6;
            width: 100vw;
            .footerLinks{
                width: 350px;
            }
        }
        
        .attribution{
            width: 100vw;
            grid-row: 7;
        }
    }
}